* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: century-gothic, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ornament {
        width: 100%;
        margin: 0 0 1em 0;
    }
    .logo {
        margin: 0 0 1em 0;
        width: 13em;
    }
    .nav-bar {
        margin: 0 0 1em 0;
        width: 95%;
        height: 3em;
        border: 1px solid #727271;
        border-radius: 5px;

        .list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            list-style: none;

            .item {
                font-size: 1.1rem;
                font-family: "Times New Roman", Times, serif;

                & a {
                    color: #1a3c34;
                    text-decoration: none;
                }
            }
        }
    }
    .call-buttons {
        position: fixed;
        z-index: 1;
        top: 40px;
        right: 10px;

        .paragraph {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            width: 100px;
            height: 15px;
            background-color: #1A3C34;
            border-radius: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 0.8rem;
            color: #FFF;
        }
        .anchor {
            padding: 3px;
            background-color: #1A3C34;
            border-radius: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            text-decoration: none;
            color: #FFF;
        }
    }
}

.separation {
    width: 100%;
    height: 1em;
    background-color: #bbbaba;
}
.banner {
    height: 18em;
    background-color: #1d1d1b;
}
.history {
    .title {
        margin: 20px 0 20px 20px;
        font-size: 1.8rem;
        color: #1a3c34;
    }
    .paragraph {
        margin: 0 20px 20px 20px;
        font-size: 1.4rem;
        font-weight: bold;
        color: #1a3c34;
    }
}
.services {
    display: flex;
    flex-direction: column;

    .title {
        margin: 20px 0 20px 20px;
        font-size: 1.8rem;
        color: #1d1d1b;
    }
    .list {
        margin: 0 0 20px 40px;

        .item {
            font-size: 1.4rem;
        }
    }
    .gallery-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 1.8rem;
        width: 100%;

        .button {
            position: absolute;
            width: 20px;
            height: 40px;
            background-color: transparent;
            border: none;
        }
        .left {
            top: calc(50% - 20px);
            left: 5px;
        }
        .right {
            top: calc(50% - 20px);
            right: 5px;
        }
        .gallery {
            position: relative;
            align-self: center;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 85%;
            scroll-behavior: smooth;
            overflow: hidden;
        }
    }
}
.emotional-assistance {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .banner {
        margin: 0 0 2em 0;
        width: 100%;
        height: 120px;
        background-image: url(./assets/tanatology-banner.jpg);
        background-position: center 80%;
        background-size: 130%;
        
    }
    .flyer {
        margin: 0 0 20px 0;
        width: 260px;
    }
    .title {
        position: relative;
        left: -20px;
        align-self: baseline;
        margin: 0 0 20px 0;
        font-size: 1.8rem;
    }
    .list {
        align-self: baseline;
        margin: 0 0 20px 40px;
        font-size: 1.8rem;
    }
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        align-self: flex-start;
        margin: 20px 0 20px 20px;
    }
    .paragraph {
        align-self: flex-start;
        margin: 0 0 20px 20px;
        font-size: 1.4rem;
    }
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;

        .input-container {
            width: 45%;
            margin-bottom: 20px;

            .label {
                display: block;
                margin-bottom: 10px;
                font-size: 1.2rem;
                font-weight: bold;
            }
            .input {
                width: 100%;
                height: 25px;
                border: 1px #000 solid;
            }
        }
        .button-container {
            display: flex;
            justify-content: start;
            align-items: end;
            margin-bottom: 20px;
            width: 45%;

            .button {
                width: 75px;
                height: 25px;
                border: none;
                border-radius: 5px;
                background-color: #415D56;
                color: #FFF;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: century-gothic, sans-serif;
            }
        }
    }
    .card {
        width: 240px;
        margin-bottom: 20px;
        border: 2px solid #878787;
        border-radius: 10px;

        .paragraph {
            margin: 10px;
            font-size: 1.3rem;
            color: #1A3C34;
        }
    }
}

footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    background-color: #1A3C34;

    .logo {
        width: 95px;
    }
    .privacy {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;

        .paragraph {
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.8rem;
            color: #FFF;
        }
        .anchor {
            text-decoration: none;
            font-size: 1.5rem;
            color: #FFF;
        }
    }
    .social-media {
        .paragraph {
            margin-bottom: 10px;
            font-family: 'Times New Roman', Times, serif;
            color: #FFF;
        }
        .icon {
            width: 15px;
        }
        .facebook {
            margin-left: 15px;
        }
    }
    .rights {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 0.5rem;
        color: #FFF;
    }
}

@media (min-width: 450px) {
    header {
        display: none;
    }
    body {
        display: none;
    }
    footer {
        display: none;
    }
}