* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .ornament {
        width: 165%;
        margin: 0 0 10px 0;
    }
    .logo-navabar-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            margin: 0 0 10px 0;
            width: 130px;
        }
        .nav-bar {
            margin: 0 0 10px 0;
            width: 95%;
            height: 30px;
            border: 1px solid #727271;
            border-radius: 5px;
    
            .list {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                list-style: none;
    
                .item {
                    position: relative;
                    font-family: "Times New Roman", Times, serif;
                    font-size: 1.1rem;
                    font-weight: medium;    
                    & a {
                        color: #1a3c34;
                        text-decoration: none;
                    }
                }
                .item::after {
                    position: absolute;
                    top: 25px;
                    left: 0;

                    width: 0;
                    height: 5px;

                    border-radius: 2px;
                    background-color: #1A3C34;

                    transition: 350ms;

                    content: "";
                }
                .item:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    .call-buttons {
        position: fixed;
        z-index: 1;
        top: 40px;
        right: 10px;

        .paragraph {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            width: 100px;
            height: 15px;
            background-color: #C00D0D;
            border-radius: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 0.8rem;
            color: #FFF;
        }
        .anchor {
            padding: 3px;
            background-color: #C00D0D;
            border-radius: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            text-decoration: none;
            color: #FFF;
        }
    }
    @media(min-width: 550px) {
        .ornament {
            margin: 0 0 15px 0;
            width: 150%;
        }
        .logo-navabar-container {
            .logo {
                margin: 0 0 15px 0;
                width: 160px;
            }
            .nav-bar {
                margin: 0 0 15px 0;
                width: 90%;
                height: 40px;
                .list {
                    .item {
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .call-buttons {
            top: 50px;
            right: 20px;

            .paragraph {
                margin-bottom: 8px;
                width: 130px;
                height: 25px;
                border-radius: 10px;
                font-size: 1rem;
            }
            .anchor {
                margin-right: 5px;
                padding: 4px;
                border-radius: 8px;
                font-size: 1.2rem;
            }
        }
    }
    @media(min-width: 768px) {
        .ornament {
            width: 135%;
        }
        .logo-navabar-container {
            .logo {
                width: 180px;
            }
        }
    }
    @media(min-width: 1024px) {
        .ornament {
            position: relative;
            top: -10px;
            width: 100%;
        }
        .logo-navabar-container {
            flex-direction: row;

            .logo {
                margin-left: 50px;
            }
            .nav-bar {
                /* Cálculo para centrar la navbar tomando en cuenta 
                su tamaño y el tamaño del logo con su margen. */
                margin-left: calc(50% - 25% - (180px + 50px));
                width: 50%;
                height: 40px;

                .list {
                    .item {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .call-buttons {
            .paragraph {
                margin-bottom: 8px;
                width: 180px;
                height: 35px;
                font-size: 1.4rem;
            }
            .anchor {
                margin-right: 14px;
                padding: 5px;
                border-radius: 8px;
                font-size: 2rem;
            }
        }
    }
    @media (min-width: 1440px) {
        .ornament {
            top: -15px;
            width: 1440px;
            margin: 0 0 10px 0;
        }
        .logo-navabar-container {
            .logo {
                width: 230px;
            }
            .nav-bar {
                height: 55px;
                border-width: 2px;
                border-radius: 10px;

                .list {
                    .item {
                        font-size: 2rem;
                    }
                }
            }
        }
        .call-buttons {
            .paragraph {
                width: 220px;
                height: 30px;
                font-size: 1.8rem;
            }
            .anchor {
                font-size: 2.5rem;
            }
        }
    }
}

.separation {
    width: 100%;
    height: 10px;
    background-color: #bbbaba;

    @media (min-width: 1440px) {
        height: 20px;
    }
}
.history {
    .banner {
        height: 180px;
        background-image: url(./assets/banner-photo.png);
        background-position: center;
        background-size: 120%;
    }
    @media(min-width: 550px) {
        .banner {
            height: 260px;
        }
    }
    @media(min-width: 1024px) {    
        .banner {
            height: 480px;
        }
    }
    @media (min-width: 1440px) {
        .banner {
            height: 550px;
        }
    }
}
.services {
    display: flex;
    flex-direction: column;

    .title {
        margin: 20px 0 20px 20px;
        font-size: 1.8rem;
        color: #1d1d1b;
    }
    .lists-container {
        margin: 0 0 20px 0;

        .list {
            margin: 0 0 0 40px;
    
            .item {
                font-size: 1.4rem;
            }
        }
    }
    @media(min-width: 550px) {
        .title {
            margin: 30px 0 30px 30px;
            font-size: 2.2rem;
        }
        .lists-container {
            margin: 0 0 30px 0;

            .list {
                margin: 0 0 0 50px;
        
                .item {
                    font-size: 1.6rem;
                }
            }
        }
    }
    @media (min-width: 1024px) {
        .title {
            margin: 30px 0 40px 40px;
            font-size: 3rem;
        }
        .lists-container {
            display: flex;
            justify-content: center;
            margin: 0 0 40px 0;

            .list {
                width: 30%;
                margin: 0 0 0 30px;
        
                .item {
                    font-size: 1.6rem;
                }
            }
        }
    }
    @media (min-width: 1440px) {
        .title {
            margin: 30px 0 30px 50px;
            font-size: 3.6rem;
        }
        .lists-container {
            .list {
                .item {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
.emotional-assistance {
    width: 100%;

    .banner {
        margin: 0 0 20px 0;
        width: 100%;
        height: 120px;
        background-image: url(./assets/tanatology-banner.jpg);
        background-position: center 80%;
        background-size: 130%;
        
    }
    .flyer-and-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;        


        .flyer {
            margin: 0 0 20px 0;
            width: 260px;
        }
        .text {
            width: 100%;

            .title {
                margin: 0 0 20px 20px;
                font-size: 1.8rem;
            }
            .list {
                align-self: baseline;
                margin: 0 0 20px 40px;
                font-size: 1.8rem;
            }
        }
    }
    .photos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        .photo {
            width: 100%;
            height: 225px;
            background-size: cover;
        }
        .photo-1 {
            background-image: url(./assets/photo-1.jpg);
        }
        .photo-2 {
            background-image: url(./assets/photo-2.jpg);
        }
        .photo-3 {
            background-image: url(./assets/photo-3.jpeg);
        }
    }
    @media (min-width: 550px) {
        .banner {
            margin: 0 0 30px 0;
            height: 220px;
        }
        .flyer-and-text {
            .flyer {
                margin: 0 0 30px 0;
                width: 280px;
            }
            .text {
                .title {
                    margin: 0 0 30px 30px;
                    font-size: 2.2rem;
                }
                .list {
                    margin: 0 0 30px 50px;
                    font-size: 2.2rem;
                }
            }
        }
    }
    @media (min-width: 768px) {
        .photos {
            flex-direction: row;
        }
    }
    @media (min-width: 1024px) {
        .banner {
            height: 280px;
            background-size: 100%;
        }
        .flyer-and-text {
            flex-direction: row-reverse;

            .flyer {
                margin: 0 calc(35% - 240px) 30px 0;
                width: 480px;
            }
            .text {
                .title {
                    font-size: 3rem;
                    margin: 0 0 20px 50px;
                }
                .list {
                    margin: 0 0 30px 70px;
                    font-size: 1.6rem;
                }
            }
        }
        .photos {
            .photo {
                height: 280px;
            }
        }
    }
    @media (min-width: 1440px) {
        .banner {
            height: 350px;
        }
        .flyer-and-text {
            height: 350px;

            .flyer {
                margin: 0 calc(35% - 270px) 30px 0;
                width: 540px;
            }
            .text {
                .title {
                    font-size: 3.5rem;
                }
                .list {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        align-self: flex-start;
        margin: 20px 0 20px 20px;
        font-size: 1.8rem;
    }
    .paragraph {
        align-self: flex-start;
        margin: 0 0 20px 20px;
        font-size: 1.4rem;
    }
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;

        .input-container {
            width: 45%;
            margin-bottom: 20px;

            .label {
                display: block;
                margin-bottom: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                color: #1D1D1B;
            }
            .input {
                width: 100%;
                height: 25px;
                border: 1px #000 solid;
            }
        }
        .button-container {
            display: flex;
            justify-content: start;
            align-items: end;
            margin-bottom: 20px;
            width: 45%;

            .button {
                width: 75px;
                height: 25px;
                border: none;
                border-radius: 5px;
                background-color: #415D56;
                color: #FFF;
                font-size: 1.2rem;
                font-family: 'Poppins', sans-serif;
                cursor: pointer;
            }
        }
    }
    .card {
        width: 240px;
        margin: 0 0 20px 0;
        border: 2px solid #878787;
        border-radius: 10px;

        .paragraph {
            margin: 10px;
            font-size: 1.3rem;
            color: #1A3C34;
        }
    }
    @media (min-width: 550px) {

        .title {
            margin: 30px 0 30px 30px;
            width: 100%;
            font-size: 2.2rem;
        }
        .paragraph {
            margin: 0 0 30px 30px;
            width: 100%;
            font-size: 1.8rem;
        }
        .form {
            width: 90%;

            .input-container {
                margin-bottom: 30px;

                .label {
                    font-size: 1.6rem;
                }
                .input {
                    height: 30px;
                }
            }
            .button-container {
                margin-bottom: 30px;

                .button {
                    width: 85px;
                    height: 30px;
                    font-size: 1.6rem;
                }
            }
        }
        .card {
            margin: 0 0 30px 0;
        }
    }
    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            margin: 0 15px 30px 15px;
        }
    }
    @media (min-width: 1024px) {
        .title {
            margin: 50px 0 30px 50px;
            font-size: 3rem;
        }
        .paragraph {
            margin: 0 0 50px 50px;
        }
        .form {
            margin: 0 0 20px 0;
            width: calc(100% - 50px);

            .input-container {
                .label {
                    font-size: 3rem;
                }
                .input {
                    padding-left: 20px;
                    height: 70px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 2.8rem;
                }
            }
            .button-container {
                .button {
                    width: 200px;
                    height: 70px;
                    border-radius: 10px;
                    font-size: 3rem;
                    font-weight: 500;
                }
            }
        }
        .card {
            padding: 20px 0 20px 20px;
            width: 480px;
            height: 200px;
            border-width: 3px;
            border-radius: 30px;

            .paragraph {
                margin: 0 0 15px 0;
                font-size: 2.6rem;
                line-height: 1.2em;
            }
        }
    }
    @media (min-width: 1440px) {
        padding: 150px 0 100px 0;

        .title {
            margin: 0 0 50px 80px;
            font-size: 3.6rem;
        }
        .paragraph {
            margin: 0 0 80px 80px;

            font-size: 3.6rem;
        }
        .form {
            width: calc(100% - 100px);
            margin: 0 0 120px 0;

            .input-container {
                .label {
                    font-size: 3.6rem;
                }
                .input {
                    height: 80px;
                    font-size: 3.6rem;
                }
            }
            .button-container {
                .button {
                    height: 80px;
                    width: 230px;
                    font-size: 3.6rem;
                }
            }
        }
        .card {
            margin: 0 100px 0 100px;
        }
    }
}

footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    background-color: #1A3C34;

    .logo {
        width: 95px;
    }
    .privacy {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;

        .paragraph {
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.8rem;
            color: #FFF;
        }
        .anchor {
            text-decoration: none;
            font-size: 1.5rem;
            color: #FFF;
        }
    }
    .social-media {
        .paragraph {
            margin-bottom: 10px;
            font-family: 'Times New Roman', Times, serif;
            color: #FFF;
        }
        .icon {
            width: 15px;
        }
        .facebook {
            margin-left: 15px;
        }
    }
    .rights {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 0.5rem;
        color: #FFF;
    }
    @media (min-width: 1024px) {
        height: 380px;

        .logo {
            width: 280px;
        }
        .privacy {
            width: 40%;

            .paragraph {
                font-size: 2.6rem;
            }
            .anchor {
                font-size: 2.6rem;
            }
        }
        .social-media {
            .paragraph {
                font-size: 2.6rem;
            }
            .icon {
                width: 26px;
            }
            .facebook {
                margin-left: 45px;
            }
            .whatsapp {
                margin-left: 5px;
            }
        }
        .rights {
            margin: 0 20px 20px 0;
            font-size: 1.5rem;
        }
    }
    @media (min-width: 1440px) {
        .social-media {
            width: 20%;
        }
    }
}

@media (min-width: 1141px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        width: 1440px;
    }
    main {
        width: 1440px;
    }
    footer {
        width: 1440px;
    }
}